.img-profile{
    margin-right: 15px;
}

#sidebarToggleTop{
    i{
        color: #858796;
    }
}

.timelink{
    cursor: default;
}

.navbar
{
    /*background: rgb(139,30,18);
    background: linear-gradient(0deg, rgba(139,30,18,1) 0%, rgba(152,32,19,1) 50%, rgba(189,39,22,1) 79%, rgba(238,48,28,1) 100%);*/
}
