.reportada {
    background-color: #1ca979 !important;
    color: #ffffff !important;
}

.pendiente {
    background-color: #ffeb3b !important;
    color: #000000 !important;
}

.motivo {
    width: auto;
    max-width: 500px;
    height: auto;
    word-wrap: break-word;
}